* linguist-vendored
*.hpp linguist-detectable=false
./Boom/src/**/*.cpp linguist-vendored
./include/*.c linguist-detectable=false
./include/*.cpp linguist-detectable=false
./include/*.hpp linguist-detectable=false
./include/*.inl linguist-detectable=false
./include/** linguist-detectable=false
./include/**/* linguist-detectable=false
./include/**/*.hpp linguist-detectable=false