* linguist-vendored
*.cpp linguist-vendored=false
./include/*.c linguist-detectable=false
./include/*.cpp linguist-detectable=false
./include/*.hpp linguist-detectable=false
./include/*.inl linguist-detectable=false
./include/** linguist-detectable=false